<p id="notice"><%= notice %></p>

<h1>Listing Ngos</h1>
<%= binding.pry %>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Password</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ngos.each do |ngo| %>
      <tr>
        <td><%= ngo.name %></td>
        <td><%= ngo.password %></td>
        <td><%= link_to 'Show', ngo %></td>
        <td><%= link_to 'Edit', edit_ngo_path(ngo) %></td>
        <td><%= link_to 'Destroy', ngo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ngo', new_ngo_path %>
