<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @ngo.name %>
</p>

<p>
  <strong>Password:</strong>
  <%= @ngo.password %>
</p>

<%= link_to 'Edit', edit_ngo_path(@ngo) %> |
<%= link_to 'Back', ngos_path %>
